figure {
	margin: 0 !important;
}
.card {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	background: #f5f7fb;
	border: 1px solid var(--primary-color) !important;
	border-radius: 16px !important;
	padding: 10px 7px 10px 6px !important;
}
.card > a {
	color: #99a2ad;
}
.card > .footer_card > a {
	color: rgb(54, 54, 54);
}
.card > a:hover {
	color: rgb(90, 90, 90);
}
.wrapper_img {
	display: flex;
	justify-content: center;
	object-position: center;
}
.wrapper_img img {
	width: 100%;
	height: 100%;
}
.type_wear {
	margin-bottom: 5px;
	font-weight: 400;
	font-size: 11px;
	line-height: 16px;
	letter-spacing: 0.4px;
	color: #99a2ad;
}
.wrapper_discount {
	width: 100%;
	display: flex;
	justify-content: space-between;
	padding-left: 22px;
}

.time {
	background: #fcfcfc;
	border-radius: 16px;
	padding: 4px 8px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.discount {
	padding: 4px 8px;
	background: #fdd835;
	border-radius: 16px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.wrapper_price {
	width: 100%;
	display: flex;
	justify-content: flex-start;
	gap: 8px;
	margin-top: 5px;
}
.price {
	font-weight: 700;
	font-size: 14px;
	line-height: 16px;
	letter-spacing: 0.2px;
	color: #3a3a3a;
	margin-bottom: 5px;
}
.old_price {
	font-weight: 400;
	font-size: 12px;
	line-height: 14px;
	letter-spacing: 0.2px;
	text-decoration-line: line-through;
	color: #99a2ad;
}
.wear_title {
	font-weight: 500;
	font-size: 13px;
	line-height: 18px;
	letter-spacing: 0.25px;
	color: #3a3a3a;
	word-break: keep-all;
}
.wear_title:hover {
	color: black;
}
.footer_card {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 5px 6px 0 12px;
	width: 100%;
}
.footer_card > a {
	cursor: pointer;
	letter-spacing: 0.6px;
	color: var(--primary-color);
	font-size: 16px;
}
.footer_card > a:hover {
	color: var(--primary-color);
}
.footer_card img {
	width: 36px;
	height: 36px;
	cursor: pointer;
}
.promotion {
	position: absolute;
	/* left: 18px; */
	right: 15%;
	margin-top: 8px;
	background: linear-gradient(
			0deg,
			rgba(255, 255, 255, 0.8),
			rgba(255, 255, 255, 0.8)
		),
		#d81b60;
	border-radius: 16px;
	padding: 4px 8px;
}
.new {
	position: absolute;
	left: 8px;
	margin-top: 8px;
	background: linear-gradient(
			0deg,
			rgba(255, 255, 255, 0.8),
			rgba(255, 255, 255, 0.8)
		),
		#00bcd4;
	border-radius: 16px;
	padding: 4px 8px;
}
.product_of_the_week {
	position: absolute;
	left: 8px;
	margin-top: 8px;
	background: linear-gradient(
			0deg,
			rgba(255, 255, 255, 0.85),
			rgba(255, 255, 255, 0.85)
		),
		#2e7d32;
	border-radius: 16px;
	padding: 4px 8px;
}

/* --------- product card --------------- */

.wrapper_product_cards {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(180px, 2fr));
	grid-template-rows: repeat(auto-fill, minmax(200px, 1fr));
	grid-column-gap: 16px;
	grid-row-gap: 16px;
}

.product_card {
	width: 100% !important;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	border-radius: 16px;
	position: relative;
}

@media screen and (max-width: 600px) {
	.time {
		font-size: 12px;
	}
	.discount {
		font-size: 12px;
	}
	.card {
		padding: 7px 4px 7px 3px;
	}
	.wrapper_discount {
		padding-left: 10px;
	}
	.footer_card span {
		font-size: 14px;
	}
	.new {
		font-size: 14px;
	}
}
