.wrapper_notfound {
	width: 350px;
	padding: 0 15px;
	margin: 0 auto;
	text-align: center;
	display: flex;
	flex-direction: column;
}
.not-found-img {
	width: 72px;
	height: 72px;
	border-radius: 28px;
	margin: 0 auto;
}
.wrapper_notfound > h2 {
	margin: 24px 0 8px;
}
.wrapper_notfound > p {
	margin-bottom: 24px;
}
.logo > .wrapper_search {
	display: none;
}

@media screen and (max-width: 1000px) {
	.wrapper_search {
		width: 100% !important;
		max-width: 100% !important;
	}
	.logo-in-search {
		display: none;
	}
	.search_input {
		padding: 1rem 1rem 1rem 4rem;
		border: 1px solid transparent;

	}
	.search_input:focus{
		border: 1px solid blue;
	}
}

@media screen and (max-width: 550px) {
	.wrapper_notfound {
		width: 100%;
	}
}
@media screen and (max-width: 600px) {
	.logo {
		width: 100%;
	}
	.logo > .wrapper_search {
		width: 100%;
		display: flex;
		align-items: center;
		/* padding-right: 50px; */
		background-color: #f5f7fb !important;
		border-radius: 32px !important;
		padding-right: 10px;
	}
	.header {
		display: block !important;
	}
}
