@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700&family=PT+Sans:wght@400;700&display=swap');
* {
	font-family: 'Nunito', sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
	outline: none;
	transition: all 0.2s;
	list-style: none;
}
button {
	border: 1px solid transparent;
}
:root {
	--base-font: 'Nunito', sans-serif;
	--primary-color: #f08223;
	--text-color: #99a2ad;
	--title-color: #3a3a3a;
}

body {
	background-color: #ffffff;
}

.simple-container {
	max-width: 1250px;
	width: 100%;
	padding: 1rem;
	margin: 0 auto;
	margin-bottom: 40px;
}

.section_title {
	font-family: 'Nunito';
	font-weight: 550;
	font-size: 33px;
	line-height: 40px;
	letter-spacing: 0.25px;
	color: #323232;
	margin-bottom: 15px;
}

@media screen and (max-width: 600px) {
	.section_title {
		font-size: 19px;
	}
}

/*buttons*/

.base_button {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 6px;
	padding: 0.5em 1rem;
	border-radius: 32px;
	background-color: var(--primary-color);
	font-family: 'Nunito';
	font-weight: 600;
	font-size: 16px;
	letter-spacing: 0.6px;
	color: #ffffff;
	cursor: pointer;
}

.outline_button {
	border: 1px solid var(--primary-color);
	background: white;
	color: var(--primary-color);
}

.base_button:hover {
	opacity: 0.7;
}
.base_button:active {
	background: #cc6f1d;
}

.outline_button:hover {
	background: var(--primary-color);
	color: white;
	opacity: 1;
}

.icon_btn {
	background: transparent;
	padding: 0.5em;
	cursor: pointer;
	border-radius: 6px;
	font-size: large;
}
.icon_btn:hover {
	background: rgba(153, 162, 173, 0.13);
}
.icon_btn:active {
	background: rgba(116, 123, 132, 0.13);
}
.icon_btn:disabled,
.icon_btn:hover:disabled {
	background-color: transparent;
}

@media (max-width: 500px) {
	.base_button,
	.outline_button {
		font-size: 14px;
	}
}

/* ------inputs------------ */

.base_input {
	background: #fcfcfc;
	padding: 1em;
	border: 1px solid #dfe1e9;
	border-radius: 4px;
	color: #3a3a3a;
	width: 100%;
}
.base_input::placeholder {
	color: #3a3a3a;
}
.base_input:hover {
	box-shadow: 0px 2px 7px rgba(240, 130, 34, 0.1);
}
.base_input:focus {
	border: 4px solid rgba(240, 130, 34, 0.1);
}

/* typography */

.base_text {
	font-family: var(--base-font);
	font-weight: 400;
	font-size: 15px;
	line-height: 20px;
	letter-spacing: 0.5px;
	color: var(--title-color);
}

.title {
	font-weight: 550;
	font-size: 15px;
	line-height: 20px;
	letter-spacing: 0.5px;
	color: var(--title-color);
}

.text {
	font-weight: 400;
	font-size: 11px;
	line-height: 16px;
	letter-spacing: 0.4px;
	color: var(--text-color);
}
.text_primary {
	font-weight: 400;
	font-size: 19px;
	line-height: 16px;
	letter-spacing: 0.4px;
	color: var(--primary-color);
}

/*-------header menu --------*/
.header_menu {
	max-height: 100vh;
	overflow-y: scroll;
}

.list_header_menu {
	list-style: none;
	border-bottom: 1px solid lightgray;
	padding-bottom: 10px;
}
.list_header_menu li a {
	font-family: var(--base-font);
	font-weight: 550;
	font-size: 16px;
	line-height: 20px;
	letter-spacing: 0.15px;
	text-decoration: none;
	color: #3a3a3a;
	cursor: pointer;
}

/* MOBILE */
.mobail-menu {
	display: none;
	width: 100vw;
	padding: 10px 15px;
	position: sticky;
	bottom: 0;
	z-index: 50;
	background-color: #ffffff;
	box-shadow: 0px -5px 8px 0px rgba(34, 60, 80, 0.2);
}
.inner-mobile-menu {
	display: flex;
	justify-content: space-between;
}
.inner-mobile-menu > div > img {
	cursor: pointer;
}
@media screen and (max-width: 1000px) {
	.mobail-menu {
		display: block;
	}
}

.modal-content {
	border-radius: 30px !important;
}
