@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700&family=PT+Sans:wght@400;700&display=swap');
* {
	font-family: 'Nunito', sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
	outline: none;
	transition: all 0.2s;
}
button {
	border: 1px solid transparent;
}
:root {
	--base-font: 'Nunito', sans-serif;
	--primary-color: #382A81;
	--text-color: #99a2ad;
	--title-color: #3a3a3a;
}

body {
	background-color: #ffffff;
}

.simple-container {
	max-width: 1440px;
	width: 100%;
	padding: 1rem;
	margin: 0 auto;
	margin-bottom: 40px;
}

.section_title {
	font-family: 'Nunito';
	font-weight: 550;
	font-size: 33px;
	line-height: 40px;
	letter-spacing: 0.25px;
	color: #323232;
	margin-bottom: 15px;
}

@media screen and (max-width: 600px) {
	.section_title {
		font-size: 19px;
	}
}


/*buttons*/

.base_button {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 6px;
	padding: 0.5em 1rem;
	border-radius: 32px;
	background-color: var(--primary-color);
	font-family: 'Nunito';
	font-weight: 600;
	font-size: 16px;
	letter-spacing: 0.6px;
	color: #ffffff;
	cursor: pointer;
}

.outline_button {
	border: 1px solid var(--primary-color);
	background: white;
	color: var(--primary-color);
}

.base_button:hover {
	opacity: 0.7;
}

.outline_button:hover {
	background: var(--primary-color);
	color: white;
	opacity: 1;
}

.icon_btn {
	background: transparent;
	padding: 0.5em;
	cursor: pointer;
	border-radius: 6px;
}
.icon_btn:hover {
	background: rgba(153, 162, 173, 0.13);
}

@media (max-width: 500px) {
.base_button, .outline_button {
	font-size: 14px;
}
}

