@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700&family=PT+Sans:wght@400;700&display=swap');
* {
	font-family: 'Nunito', sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
	outline: none;
	transition: all 0.2s;
	list-style: none;
}
button {
	border: 1px solid transparent;
}
:root {
	--base-font: 'Nunito', sans-serif;
	--primary-color: #392a81;
	--text-color: #99a2ad;
	--title-color: #3a3a3a;
}

body {
	background-color: #ffffff;
}

.simple-container {
	max-width: 1440px;
	width: 100%;
	padding: 1rem;
	margin: 0 auto;
	margin-bottom: 40px;
}

.section_title {
	font-family: 'Nunito';
	font-weight: 550;
	font-size: 33px;
	line-height: 40px;
	letter-spacing: 0.25px;
	color: #323232;
	margin-bottom: 15px;
}

@media screen and (max-width: 600px) {
	.section_title {
		font-size: 19px;
	}
}
