.swiper {
	width: 100%;
	position: relative;
}


.wraper_slider {
	position: relative;
	height: 100%;
	width: 100%;
}
.swiper-pagination {
	position: static !important;
}
.dots {
	/* position: absolute; */
	bottom: 0;
	right: 50%;
	transform: translateX(-50%);
}
