.swiper {
	width: 100%;
	height: 300px;
	position: relative;
}

.swiper-slide {
	text-align: center;
	font-size: 18px;
	background: red;

	/* Center slide text vertically */
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}

.wraper_slider {
	position: relative;
	max-width: 100%;
	height: 100%;
	width: 100%;
	overflow: hidden;
}
.swiper-pagination {
	position: static !important;
}
.dots {
	/* position: absolute; */
	bottom: 0;
	right: 50%;
	transform: translateX(-50%);
}
