.wrapper_box {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(100px, 2fr));
	grid-template-rows: 1fr;
	grid-column-gap: 16px;
	grid-row-gap: 16px;
	width: 100%;
	margin: 0 auto;
}
.box > img {
	width: 100%;
	height: 100%;
}

/* BANNER */
.banner {
	width: 100%;
	display: flex;
	justify-content: center;
	position: relative;
}

.swiper-banner-slide > img {
	z-index: -1;
	margin: 0 auto;
	border-radius: 16px;
	width: 100%;
	height: 460px;
}
.banner-title {
	position: absolute;
	z-index: 1;
	color: #ffffff;
	margin-top: 84px;
	margin-left: 90px;
}
.banner-title-small {
	margin-bottom: 22px;
}
.banner-title-big {
	margin-bottom: 44px;
}
@media screen and (max-width: 600px) {
	.swiper-banner-slide > img {
		height: 240px;
	}
	.banner-title {
		margin-top: 44px;
		margin-left: 40px;
	}
	.banner-title-small {
		font-size: 12px;
	}
	.banner-title-big {
		font-size: 18px;
		margin-bottom: 22px;
	}
	.skidki {
		width: 150px;
	}
}
/* __________________ */

.wrapper_reclama_card {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	grid-template-rows: 1fr;
	grid-column-gap: 16px;
	grid-row-gap: 16px;

	margin-top: 16px;
}
.reclama > img {
	width: 100%;
	height: 100%;
}

/* ---------- */
.swiper {
	width: 100%;
	position: relative;
}

.wraper_slider {
	position: relative;
	max-width: 100%;
	height: 100%;
	width: 100%;
	overflow: hidden;
}
.swiper-pagination-bullet {
	background: #f5f7fb !important;
	opacity: 0.3;
}

.swiper-pagination-bullet-active {
	background-color: rgb(255, 255, 255) !important;
}

.title {
	font-weight: 550;
	font-size: 15px;
	line-height: 20px;
	letter-spacing: 0.5px;
	color: var(--title-color);
}

.text {
	font-weight: 400;
	font-size: 11px;
	line-height: 16px;
	letter-spacing: 0.4px;
	color: var(--text-color);
}
.text_primary {
	font-weight: 400;
	font-size: 19px;
	line-height: 16px;
	letter-spacing: 0.4px;
	color: var(--primary-color);
}

.dots .swiper-pagination-bullet {
	background-color: rgb(21, 60, 118) !important;
	/* transform: translateY(100px) !important; */
}

.dots .swiper-pagination-bullet-active {
	background-color: black !important;
	/* transform: translateY(100px) !important; */
}

/* banner styles */

.bannerSwiper {
	margin: 0px auto;
	width: 100%;
}

.swiper-slide.banner {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: transparent;
	border-radius: 20px;
}
.banner_card {
	width: 100%;
	height: 100%;
}
.banner_card img {
	object-fit: cover;
	object-position: center;
	width: 100%;
	height: 100%;
	border-radius: 20px;
}
