.header {
	width: 100%;
	position: sticky;
	top: 0;
	left: 0;
	background-color: white;
	z-index: 100;
}
header {
	width: 100%;
	display: flex;
	flex-direction: column;
	position: relative;
}
nav {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.2rem 0;
}

.list_nav {
	list-style: none;
	display: flex;
	align-items: center;
	gap: 24px;
}
.list_nav > li > a{
	font-weight: 400;
	font-size: 15px;
	line-height: 20px;
	letter-spacing: 0.5px;
	color: #99a2ad;
}
.list_nav > li {
	cursor: pointer;
}
.list_nav > li > a:hover {
	color: #3a3a3a !important;
}

.language_wrapper {
	display: flex;
	align-items: center;
	gap: 5px;
	padding: 5px;
	cursor: pointer;
}
.language {
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
	text-align: right;
	letter-spacing: 0.15px;
	color: var(--title-color);
}

.sub_header {
	width: 100%;
	display: flex;
	align-items: center;
	gap: 15px;
	justify-content: space-between;
}

.logo {
	margin-right: 40px;
}

.wrapper_category {
	display: flex;
	align-items: center;
	width: 100%;
	gap: 15px;
}

.wrapper_search {
	width: 100%;
	max-width: 535px;
	position: relative;
}
.search_icon {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 20px;
}
.search_input {
	width: 100%;
	padding: 1rem 3rem;
	font-family: 'Nunito';
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
	letter-spacing: 0.15px;
	color: #99a2ad;
	background: #f5f7fb;
	border-radius: 32px;
}

.wrapper_sign_btn {
	display: flex;
	align-items: center;
	gap: 16px;
}

.burger {
	display: none;
}

@media screen and (max-width: 1000px) {
	nav {
		display: none;
	}
	.wrapper_category {
		display: none;
	}
	.burger {
		display: block;
	}
	.wrapper_sign_btn {
		display: none;
	}
	.logo {
		margin-right: 0;
	}
}
