.info_about_product {
	width: 65%;
	display: flex;
	flex-direction: column;
}

.widget-product {
	width: 35%;
	max-width: 450px;
	min-width: 320px;
}
.mobile {
	display: none;
}
.wrapper-header-widget {
	display: flex;
	justify-content: space-between;
	gap: 4px;
	margin-bottom: 20px;
}
.new_widget {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 4px 12px;
	gap: 4px;
	background: #2567a0;
	border-radius: 16px;
	color: #ffffff;
}
.promotion_widget {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 4px 12px;
	gap: 4px;
	background: #fddd35;
	border-radius: 16px;
	color: black;
}
.wrapper-buttons {
	display: flex;
	align-items: center;
	width: 100%;
	gap: 12px;
}
.characteristics {
	margin-top: 42px;
}
.wrapper-characteristics {
	display: flex;
	flex-direction: column;
}
.wrapper-characteristics > ul {
	display: flex;
	justify-content: space-between;
	gap: 10px;
	font-weight: 400;
	font-size: 15px;
	line-height: 20px;
	letter-spacing: 0.5px;
}
.wrapper-characteristics > ul > li {
	margin-top: 12px;
	display: flex;
	justify-content: flex-end;
}
.type {
	color: #99a2ad;
}
.wrapper_otzyv {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 70px;
}
.wrapper_stars {
	margin-top: 15px;
	display: flex;
	align-items: center;
	gap: 14px;
}
.wrapper_all_info_buttons {
	max-width: 400px;
	border-top: 1px solid #99a2ad;
	margin: 25px 0 10px 0;
}
.wrapper_all_info_buttons > button {
	padding: 6px 16px;
	gap: 8px;
	border: 1px solid #dfe1e9;
	border-radius: 8px;
	margin: 4px;
	background-color: #ffffff;
}
.wrapper_name_user {
	display: flex;
	flex-direction: column;
	gap: 7px;
}

.header_otzyv {
	display: flex;
	justify-content: space-between;
	gap: 16px;
	margin-top: 20px;
}
.wrapper_ot_img {
	display: flex;
	flex-wrap: wrap;
	gap: 8px;
}
.wrapper_ot_img > img {
	border-radius: 28px;
	width: 88px;
	height: 88px;
}
.desktop {
	display: none;
}

/* ------------------------ */
.wrapper_widget_swiper {
	max-height: 550px;
	display: flex;
	flex-direction: row-reverse;
	gap: 10px;
	margin-bottom: 40px;
}

.dots {
	display: none;
}

.swiper {
	width: 100%;
	height: 100%;
}

.swiper-slide {
	text-align: center;
	font-size: 18px;
	background: #fff;

	/* Center slide text vertically */
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}

.swiper-slide img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.swiper {
	width: 100%;
	height: 300px;
	margin-left: auto;
	margin-right: auto;
}

.swiper-slide {
	background-size: cover;
	background-position: center;
}

.productSwiperSmall {
	height: 100%;
	width: 85%;
}

.productSwiper {
	width: 15%;
	height: 100%;
	box-sizing: border-box;
	padding: 10px 0;
}

.productSwiper .swiper-slide {
	width: 100%;
	height: 100%;
	opacity: 0.4;
}

.productSwiper .swiper-slide-thumb-active {
	opacity: 1;
}

.swiper-slide img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.upload-file-wrapper {
	width: 100%;
	padding: 1rem;
	border: 1px solid #dfe1e9;
	border-radius: 16px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 14px;
}
.upload-file-wrapper input[type='file'] {
	display: none;
}
.img_upload {
	cursor: pointer;
}
.text_upload {
	font-family: var(--base-font);
	font-size: 14px;
	line-height: 16px;
	text-align: center;
	letter-spacing: 0.2px;
	color: #f08222;
}
.title_upload {
	font-family: 'Nunito';
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
	letter-spacing: 0.15px;
	color: #3a3a3a;
}

.upload-file-wrapper {
	position: relative;
	width: 100%;
	padding: 1rem;
	border: 1px solid #dfe1e9;
	border-radius: 16px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 14px;
}

.progresbar {
	width: 100%;
	height: 10px;
	border-radius: 16px;
	background-color: rgb(238, 238, 238);
	padding: 0;
	overflow: hidden;
	text-align: start;
}
.indicator-progres {
	width: 50%;
	background-color: #f08222;
	height: 100%;
	border-radius: 10px;
}

.icon_delete_upload {
	position: absolute;
	top: 10px;
	right: 10px;
}

@media screen and (max-width: 800px) {
	.info_about_product {
		width: 100%;
	}
	.widget-product {
		display: none;
	}
	.widget-product.mobile {
		width: 100%;
		max-width: 100%;
		display: block;
	}
	.wrapper_reverse {
		display: flex;
		flex-direction: column-reverse;
	}
	.wrapper_name_user > div > img {
		width: 15px;
	}
	.wrapper-buttons {
		display: none;
	}
	.dots {
		display: block;
	}
	.desktop {
		width: 100%;
		position: sticky;
		padding: 10px 15px;
		background-color: #ffffff;
		z-index: 52;
		display: flex;
		justify-content: space-between;
	}
	.desktop > .base_button {
		width: 80%;
	}
	.productSwiper {
		display: none;
	}
	.productSwiperSmall {
		width: 100%;
	}
}
